services:
    huginn:
      image: ghcr.io/huginn/huginn
      container_name: huginn
      restart: unless-stopped
      environment:
        - TZ=Europe/Rome
        - ALLOW_SIGNUP=false
      volumes:
        - huginn_data:/var/lib/huginn
      labels:
        - "traefik.http.routers.huginn.rule=Host(`huginn.${MY_DOMAIN}`)" 
      depends_on:
        - traefik
      networks:
        - cloudflare_tunnel





