services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    restart: unless-stopped
    labels:
      - "traefik.http.routers.searx.rule=Host(`searx.${MY_DOMAIN}`)" 
    depends_on:
      - traefik
    networks:
      - cloudflare_tunnel

  gotify:
    image: gotify/server
    container_name: gotify
    restart: unless-stopped
    environment:
      - GOTIFY_DEFAULTUSER_NAME=${GOTIFY_DEFAULTUSER_NAME}
      - GOTIFY_DEFAULTUSER_PASS=${GOTIFY_DEFAULTUSER_PASS}
    volumes:
      - ./data/gotify:/app/data
    labels:
      - "traefik.http.routers.gotify.rule=Host(`gotify.${MY_DOMAIN}`)" 
    depends_on:
      - traefik
    networks:
      - cloudflare_tunnel
  forgejo:
    image: codeberg.org/forgejo/forgejo:13
    container_name: forgejo
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__server__ROOT_URL=https://forgejo.${MY_DOMAIN}
    restart: always
    volumes:
      - ./data/forgejo:/data
      - /etc/localtime:/etc/localtime:ro
    ports:
      - '222:22'
    labels:
      - "traefik.http.routers.forgejo.rule=Host(`forgejo.${MY_DOMAIN}`)" 
      - "traefik.http.services.forgejo.loadbalancer.server.port=3000"
    depends_on:
      - traefik
    networks:
      - cloudflare_tunnel


  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    restart: unless-stopped
    volumes:
      - ./data/navidrome:/data
      - /home/massimiliano/shared/music:/music:ro
    environment:
      - ND_ENABLEINSIGHTSCOLLECTOR=false
    labels:
      - "traefik.http.routers.navidrome.rule=Host(`navidrome.${MY_DOMAIN}`)" 
    depends_on:
      - traefik
    networks:
      - cloudflare_tunnel
  nextexplorer:
    image: nxzai/explorer:latest
    container_name: nextexplorer
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PUBLIC_URL=https://nextexplorer.${MY_DOMAIN}
    volumes:
      - ./configs/nextexplorer:/config
      - ./cache/nextexplorer:/cache
      - ~/shared/shared_online:/mnt
    labels:
      - "traefik.http.routers.nextexplorer.rule=Host(`nextexplorer.${MY_DOMAIN}`)" 
    depends_on:
      - traefik
    networks:
      - cloudflare_tunnel
  nginx:
    image: nginx:1-alpine
    container_name: nginx
    volumes:
      - ./data/nginx:/usr/share/nginx/html
      - ./configs/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    labels:
      - "traefik.http.routers.nginx.rule=Host(`${MY_DOMAIN}`) || Host(`links.${MY_DOMAIN}`)" 
      - "traefik.http.services.nginx.loadbalancer.server.port=80"
    depends_on:
      - traefik
    networks:
      - cloudflare_tunnel
