services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    restart: unless-stopped
    labels:
      - "traefik.http.routers.searx.rule=Host(`searx.${MY_DOMAIN}`)" 
    depends_on:
      - traefik
    networks:
      - cloudflare_tunnel

  gotify:
    image: gotify/server
    container_name: gotify
    restart: unless-stopped
    environment:
      - GOTIFY_DEFAULTUSER_NAME=${GOTIFY_DEFAULTUSER_NAME}
      - GOTIFY_DEFAULTUSER_PASS=${GOTIFY_DEFAULTUSER_PASS}
    volumes:
      - gotify_data:/app/data
    labels:
      - "traefik.http.routers.gotify.rule=Host(`gotify.${MY_DOMAIN}`)" 
    depends_on:
      - traefik
    networks:
      - cloudflare_tunnel

